p.item-information-bar {
	margin-bottom: 0px;
}

span.item-topic {
	background-color:lightblue;
	margin-right: 5px; /* why I need this to separate */
}

span.item-category {
	background-color:lightseagreen;
	margin-right: 5px; /* why I need this to separate */
}

.btn-model-type {
	margin-bottom: 4px;
}

#param{
	display: none;
}

#doubleList{
	columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

#marElem{
	overflow: hidden; /* fix for Firefox */
break-inside: avoid-column;
-webkit-column-break-inside: avoid;
min-height: 13em;
}

.pageBtn {
	background-color: #2196F3;
	color: white;
	padding: 0.75em;
	font-size: 0.75em;
	border: none;
	outline: none;
  }

.pageBtn:hover {
background-color: #0b7dda;
}

.green {
	color:springgreen !important;
}

.notifier-btn-error {
	@extend %btn;
	border-color:tomato;
	color:tomato;
}

.notifier {
	box-sizing:border-box;
	letter-spacing:1px;
	text-align: center;
	
	position: absolute;
	left:1em;
	@include shadow;
	
	background: #555;
	border-radius:8px;
	border-top:8px solid transparent;
	
	max-width:300px;
	color:#fff;
	padding:20px 14px;
	
	overflow:hidden;
	
	opacity:0;	
	transition:1s;
}


.notifier-error {
	border-color:tomato;
	position: fixed;
    bottom: 0;
	z-index: 4;
}

.pop {
		animation:4s pop linear;
}

.pop-off {
		animation:1s pop-off linear;
}

@keyframes pop {
	0%		{transform:scale(0);opacity:0;left:1em;}
	4%		{transform:scale(1.2);opacity:1;}
	5%		{transform:scale(1);}
	95%		{left:1em;}
	97%		{transform:scale(1);opacity:1;}
	100%	{transform:scale(0);opacity:0;left:-100%;}
}

@keyframes pop-off {
	0%		{left:1em;}
	100%	{left:-100%;}
}

.bottomPage{
	position: fixed;
    bottom: 0;
	z-index: 4;
}
/*
.imgPreview:hover{
	transform: scale(5);
}

/*
html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	padding: 0px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}
*/